In [52]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json
import seaborn as sns

In [53]:
df = pd.read_csv("Data/superhero_info - superhero_info.csv")
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [54]:
#convert into dictionary
Measurements = df.loc[0, "Measurements"]
print(type(Measurements))
Measurements

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [55]:
Measurements = Measurements.replace("'",'"')
Measurements

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [56]:
fixed_Measurements = json.loads(Measurements)
print(type(fixed_Measurements))
fixed_Measurements

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [57]:
df['Measurements'] = df['Measurements'].str.replace("'",'"')
df['Measurements'] = df['Measurements'].apply(json.loads)
df['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [58]:
HW = df['Measurements'].apply(pd.Series)
HW

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [59]:
# concat long_lat with original dataframe
df = pd.concat((df, HW), axis = 1)
df.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",203.0 cm,441.0 kg
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",191.0 cm,65.0 kg

In [60]:
df = df.drop(columns=['Measurements'])

In [61]:
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0 cm,441.0 kg
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0 cm,65.0 kg
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,185.0 cm,90.0 kg
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0 cm,441.0 kg
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,193.0 cm,122.0 kg

In [62]:
HP = df.loc[2,'Hero|Publisher']
print(type(HP))
HP

<class 'str'>

'Abin Sur|DC Comics'

In [63]:
df[['Hero','Publisher']] = df['Hero|Publisher'].str.split('|', expand=True)

In [64]:
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0 cm,441.0 kg,A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0 cm,65.0 kg,Abe Sapien,Dark Horse Comics
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,185.0 cm,90.0 kg,Abin Sur,DC Comics
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0 cm,441.0 kg,Abomination,Marvel Comics
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,193.0 cm,122.0 kg,Absorbing Man,Marvel Comics

In [65]:
df = df.drop(columns=('Hero|Publisher'))

In [66]:
df2 = pd.read_csv("Data/superhero_powers - superhero_powers.csv")

In [67]:
df2.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [69]:
df2['Powers_split'] = df2['Powers'].str.split(',')

In [70]:
df2['Powers_split'].value_counts()

[Intelligence]                                                                                                                                                                                                                                                                          8
[Durability, Super Strength]                                                                                                                                                                                                                                                            5
[Agility, Stealth, Marksmanship, Weapons Master, Stamina]                                                                                                                                                                                                                               4
[Marksmanship]                                                                                                                                                                                                                                                                          4
[Teleportation]                                                                                                                                                                                                                                                                         4
                                                                                                                                                                                                                                                                                       ..
[Accelerated Healing, Flight, Telepathy, Energy Blasts, Teleportation, Telekinesis, Astral Projection, Psionic Powers, Mind Blast, Regeneration, Illusions, Resurrection]                                                                                                               1
[Flight, Telepathy, Animal Oriented Powers, Gliding]                                                                                                                                                                                                                                    1
[Accelerated Healing, Durability, Energy Absorption, Flight, Super Strength, Telepathy, Energy Blasts, Size Changing, Super Speed, Darkforce Manipulation, Enhanced Senses, Phasing, Invulnerability, Self-Sustenance, Gravity Control, Energy Manipulation, Time Travel, Illusions]    1
[Agility, Accelerated Healing, Super Strength, Super Speed, Animal Oriented Powers, Enhanced Senses, Jump, Reflexes, Natural Weapons]                                                                                                                                                   1
[Super Speed, Intangibility, Time Travel, Time Manipulation]                                                                                                                                                                                                                            1
Name: Powers_split, Length: 608, dtype: int64

In [71]:
exploded = df2.explode('Powers_split')
exploded[['Powers_split','hero_names','Powers']].head()

,Powers_split,hero_names,Powers
0,Agility,3-D Man,"Agility,Super Strength,Stamina,Super Speed"
0,Super Strength,3-D Man,"Agility,Super Strength,Stamina,Super Speed"
0,Stamina,3-D Man,"Agility,Super Strength,Stamina,Super Speed"
0,Super Speed,3-D Man,"Agility,Super Strength,Stamina,Super Speed"
1,Accelerated Healing,A-Bomb,"Accelerated Healing,Durability,Longevity,Super..."

In [81]:
cols_to_make = exploded['Powers_split'].dropna().unique()
for col in cols_to_make:
    df2[col] = df2['Powers_split'].str.contains(col)
df2.head()

,hero_names,Powers,Powers_split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring],NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
to_replace = ['cm']
for char in to_replace:
    df['Height'] = df['Height'].str.replace(char,'',regex=False)

0    203.0
1    191.0
2    185.0
3    203.0
4    193.0
Name: Height, dtype: object

In [83]:
to_replace = ['kg']
for char in to_replace:
    df['Weight'] = df['Weight'].str.replace(char,'',regex=False)
df['Weight'].head()

0    441.0
1     65.0
2     90.0
3    441.0
4    122.0
Name: Weight, dtype: object

In [84]:
for col in cols_to_make:
    df2[col] = df2['Powers'].str.contains(col)
df2.head()

,hero_names,Powers,Powers_split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",True,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring],False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre...",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [85]:
left_df = df
right_df = df2
## merging with different column names
pd.merge(left_df, right_df, left_on='Hero', right_on='hero_names')

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight,Hero,Publisher,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
1,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics,...,False,False,False,False,False,False,False,False,False,False
2,Male,Ungaran,good,No Hair,blue,red,185.0,90.0,Abin Sur,DC Comics,...,False,False,False,False,False,False,False,False,False,False
3,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0,441.0,Abomination,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
4,Male,Human,bad,No Hair,blue,Unknown,193.0,122.0,Absorbing Man,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,Male,Human,good,Blond,blue,Unknown,183.0,83.0,Yellowjacket,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
459,Female,Human,good,Strawberry Blond,blue,Unknown,165.0,52.0,Yellowjacket II,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
460,Male,Yoda's species,good,White,brown,green,66.0,17.0,Yoda,George Lucas,...,False,False,False,False,False,False,False,False,False,False
461,Female,Human,good,Black,blue,Unknown,170.0,57.0,Zatanna,DC Comics,...,True,False,False,False,False,False,False,False,False,False
462,Male,Unknown,bad,Brown,red,Unknown,185.0,81.0,Zoom,DC Comics,...,False,False,False,False,False,False,False,False,False,False

In [86]:
df3 = pd.merge(left_df, right_df, left_on='Hero', right_on='hero_names')

In [89]:
Avg_weight = df3['Weight'].mean()

TypeError: Could not convert 441.0 65.0 90.0 441.0 122.0 88.0 81.0 104.0 108.0 90.0 90.0 169.0 173.0 101.0 68.0 57.0 54.0 83.0 90.0 122.0 86.0 358.0 135.0 106.0 146.0 63.0 68.0 57.0 98.0 270.0 59.0 50.0 101.0 126.0 68.0 54.0 81.0 63.0 67.0 180.0 77.0 54.0 57.0 52.0 61.0 95.0 77.0 79.0 133.0 63.0 181.0 68.0 216.0 135.0 71.0 54.0 124.0 155.0 113.0 95.0 58.0 59.0 54.0 86.0 90.0 52.0 92.0 90.0 59.0 104.0 86.0 88.0 97.0 68.0 56.0 77.0 230.0 495.0 86.0 55.0 97.0 135.0 61.0 99.0 52.0 90.0 59.0 158.0 74.0 81.0 108.0 90.0 116.0 74.0 101.0 74.0 86.0 61.0 61.0 97.0 63.0 81.0 50.0 55.0 54.0 86.0 170.0 70.0 225.0 67.0 99.0 104.0 50.0 173.0 88.0 52.0 90.0 81.0 817.0 56.0 135.0 27.0 52.0 90.0 95.0 91.0 178.0 101.0 95.0 383.0 90.0 171.0 187.0 132.0 89.0 110.0 81.0 54.0 63.0 412.0 104.0 306.0 56.0 74.0 59.0 80.0 65.0 57.0 203.0 95.0 106.0 88.0 96.0 108.0 50.0 18.0 56.0 99.0 56.0 91.0 81.0 88.0 86.0 52.0 81.0 45.0 104.0 167.0 16.0 81.0 77.0 86.0 99.0 630.0 268.0 50.0 62.0 90.0 270.0 115.0 79.0 88.0 83.0 77.0 88.0 79.0 4.0 95.0 90.0 79.0 63.0 79.0 89.0 104.0 57.0 61.0 88.0 81.0 225.0 158.0 61.0 81.0 146.0 83.0 48.0 630.0 77.0 59.0 58.0 77.0 119.0 207.0 65.0 65.0 79.0 81.0 54.0 79.0 191.0 79.0 14.0 77.0 52.0 55.0 56.0 90.0 88.0 86.0 49.0 52.0 855.0 81.0 104.0 72.0 356.0 324.0 97.0 99.0 106.0 18.0 79.0 58.0 63.0 59.0 95.0 54.0 65.0 95.0 360.0 230.0 288.0 236.0 36.0 191.0 77.0 79.0 383.0 86.0 225.0 90.0 97.0 52.0 135.0 56.0 81.0 110.0 72.0 59.0 54.0 140.0 72.0 90.0 90.0 86.0 77.0 101.0 61.0 81.0 86.0 128.0 61.0 338.0 248.0 90.0 101.0 59.0 79.0 72.0 70.0 158.0 61.0 70.0 79.0 54.0 125.0 85.0 101.0 54.0 83.0 99.0 88.0 79.0 83.0 86.0 59.0 293.0 65.0 69.0 405.0 59.0 89.0 79.0 54.0 52.0 87.0 80.0 55.0 50.0 52.0 81.0 234.0 86.0 81.0 70.0 90.0 74.0 68.0 83.0 79.0 56.0 97.0 83.0 50.0 70.0 117.0 83.0 81.0 630.0 56.0 108.0 146.0 320.0 85.0 72.0 79.0 101.0 56.0 38.0 25.0 54.0 63.0 171.0 61.0 203.0 900.0 63.0 74.0 113.0 59.0 310.0 87.0 149.0 54.0 50.0 79.0 88.0 315.0 153.0 79.0 52.0 191.0 101.0 50.0 92.0 72.0 52.0 180.0 49.0 437.0 65.0 113.0 405.0 54.0 56.0 74.0 77.0 56.0 59.0 55.0 58.0 81.0 83.0 79.0 71.0 62.0 63.0 131.0 91.0 57.0 77.0 68.0 77.0 54.0 101.0 47.0 74.0 146.0 99.0 54.0 443.0 101.0 225.0 288.0 143.0 101.0 74.0 288.0 158.0 203.0 81.0 54.0 76.0 97.0 117.0 81.0 59.0 86.0 105.0 331.0 58.0 56.0 214.0 79.0 73.0 117.0 50.0 334.0 52.0 71.0 54.0 41.0 135.0 63.0 79.0 162.0 95.0 108.0 67.0 158.0 50.0 117.0 473.0 135.0 51.0 171.0 74.0 50.0 61.0 83.0 52.0 17.0 57.0 81.0  to numeric

In [ ]:
#No idea how to answer these questions