In [26]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [27]:
df = pd.read_csv("Data/superhero_info - superhero_info.csv")
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [28]:
#convert into dictionary
Measurements = df.loc[0, "Measurements"]
print(type(Measurements))
Measurements

<class 'str'>

"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"

In [29]:
Measurements = Measurements.replace("'",'"')
Measurements

'{"Height": "203.0 cm", "Weight": "441.0 kg"}'

In [30]:
fixed_Measurements = json.loads(Measurements)
print(type(fixed_Measurements))
fixed_Measurements

<class 'dict'>

{'Height': '203.0 cm', 'Weight': '441.0 kg'}

In [31]:
df['Measurements'] = df['Measurements'].str.replace("'",'"')
df['Measurements'] = df['Measurements'].apply(json.loads)
df['Measurements'].head()

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
2     {'Height': '185.0 cm', 'Weight': '90.0 kg'}
3    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
4    {'Height': '193.0 cm', 'Weight': '122.0 kg'}
Name: Measurements, dtype: object

In [32]:
HW = df['Measurements'].apply(pd.Series)
HW

       Height    Weight
0    203.0 cm  441.0 kg
1    191.0 cm   65.0 kg
2    185.0 cm   90.0 kg
3    203.0 cm  441.0 kg
4    193.0 cm  122.0 kg
..        ...       ...
458  183.0 cm   83.0 kg
459  165.0 cm   52.0 kg
460   66.0 cm   17.0 kg
461  170.0 cm   57.0 kg
462  185.0 cm   81.0 kg

[463 rows x 2 columns]

In [33]:
# concat long_lat with original dataframe
df = pd.concat((df, HW), axis = 1)
df.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}",203.0 cm,441.0 kg
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}",191.0 cm,65.0 kg

In [34]:
df = df.drop(columns=['Measurements'])

In [35]:
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0 cm,441.0 kg
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0 cm,65.0 kg
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,185.0 cm,90.0 kg
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0 cm,441.0 kg
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,193.0 cm,122.0 kg

In [36]:
HP = df.loc[2,'Hero|Publisher']
print(type(HP))
HP

<class 'str'>

'Abin Sur|DC Comics'

In [37]:
df[['Hero','Publisher']] = df['Hero|Publisher'].str.split('|', expand=True)

In [38]:
df.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight,Hero,Publisher
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0 cm,441.0 kg,A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0 cm,65.0 kg,Abe Sapien,Dark Horse Comics
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,185.0 cm,90.0 kg,Abin Sur,DC Comics
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0 cm,441.0 kg,Abomination,Marvel Comics
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,193.0 cm,122.0 kg,Absorbing Man,Marvel Comics

In [39]:
df.drop(columns=('Hero|Publisher'))

,Gender,Race,Alignment,Hair color,Eye color,Skin color,Height,Weight,Hero,Publisher
0,Male,Human,good,No Hair,yellow,Unknown,203.0 cm,441.0 kg,A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0 cm,65.0 kg,Abe Sapien,Dark Horse Comics
2,Male,Ungaran,good,No Hair,blue,red,185.0 cm,90.0 kg,Abin Sur,DC Comics
3,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0 cm,441.0 kg,Abomination,Marvel Comics
4,Male,Human,bad,No Hair,blue,Unknown,193.0 cm,122.0 kg,Absorbing Man,Marvel Comics
...,...,...,...,...,...,...,...,...,...,...
458,Male,Human,good,Blond,blue,Unknown,183.0 cm,83.0 kg,Yellowjacket,Marvel Comics
459,Female,Human,good,Strawberry Blond,blue,Unknown,165.0 cm,52.0 kg,Yellowjacket II,Marvel Comics
460,Male,Yoda's species,good,White,brown,green,66.0 cm,17.0 kg,Yoda,George Lucas
461,Female,Human,good,Black,blue,Unknown,170.0 cm,57.0 kg,Zatanna,DC Comics
462,Male,Unknown,bad,Brown,red,Unknown,185.0 cm,81.0 kg,Zoom,DC Comics

In [40]:
df2 = pd.read_csv("Data/superhero_powers - superhero_powers.csv")
df2.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [43]:
df2['Powers'] = df2['Powers'].str.split(' ')

In [44]:
df2.head()

    hero_names                                             Powers
0      3-D Man     [Agility,Super, Strength,Stamina,Super, Speed]
1       A-Bomb  [Accelerated, Healing,Durability,Longevity,Sup...
2   Abe Sapien  [Agility,Accelerated, Healing,Cold, Resistance...
3     Abin Sur                             [Lantern, Power, Ring]
4  Abomination  [Accelerated, Healing,Intelligence,Super, Stre...

In [45]:
df2['Powers'].value_counts()

[Intelligence]                                                                                                                                                                                                                                                                    8
[Durability,Super, Strength]                                                                                                                                                                                                                                                      5
[Agility,Stealth,Marksmanship,Weapons, Master,Stamina]                                                                                                                                                                                                                            4
[Marksmanship]                                                                                                                                                                                                                                                                    4
[Teleportation]                                                                                                                                                                                                                                                                   4
                                                                                                                                                                                                                                                                                 ..
[Accelerated, Healing,Flight,Telepathy,Energy, Blasts,Teleportation,Telekinesis,Astral, Projection,Psionic, Powers,Mind, Blast,Regeneration,Illusions,Resurrection]                                                                                                               1
[Flight,Telepathy,Animal, Oriented, Powers,Gliding]                                                                                                                                                                                                                               1
[Accelerated, Healing,Durability,Energy, Absorption,Flight,Super, Strength,Telepathy,Energy, Blasts,Size, Changing,Super, Speed,Darkforce, Manipulation,Enhanced, Senses,Phasing,Invulnerability,Self-Sustenance,Gravity, Control,Energy, Manipulation,Time, Travel,Illusions]    1
[Agility,Accelerated, Healing,Super, Strength,Super, Speed,Animal, Oriented, Powers,Enhanced, Senses,Jump,Reflexes,Natural, Weapons]                                                                                                                                              1
[Super, Speed,Intangibility,Time, Travel,Time, Manipulation]                                                                                                                                                                                                                      1
Name: Powers, Length: 608, dtype: int64

In [46]:
exploded = df2.explode('Powers')
exploded[['hero_names','Powers']].head()

  hero_names                              Powers
0    3-D Man                       Agility,Super
0    3-D Man              Strength,Stamina,Super
0    3-D Man                               Speed
1     A-Bomb                         Accelerated
1     A-Bomb  Healing,Durability,Longevity,Super

In [47]:
cols_to_make = exploded['Powers'].dropna().unique()
cols_to_make

array(['Agility,Super', 'Strength,Stamina,Super', 'Speed', ...,
       'Manipulation,Water', 'Control,Terrakinesis,Weather',
       'Speed,Intangibility,Time'], dtype=object)

In [49]:
df2 = df2.copy()

In [50]:
for col in cols_to_make:
    df2[col] = df2['Powers'].str.contains(col)
df2.head()

AttributeError: Can only use .str accessor with string values!